{extends layout.latte}

{block title}Historia{/block}

{block body}
    <div class="container">
        <div align="center">
            <br>
            <br>
            <br>
            <br>
            <h1 class="display-1">História</h1>
            <br>
            <br>
            <h3>Vykonané</h3>
            <br>
            <br>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Číslo záznamu</th>
                    <th>Dátum a čas</th>
                    <th>Akcia</th>
                    <th>Spôsob</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {foreach $record as $r}
                    {if $r[vykonane]}
                        <tr id="{$r[id_zaznamnik]}" onmouseenter="zvyraznenie(id)" onmouseleave="povodne(id)">
                            <td for="{$r[id_zaznamnik]}">{$r[id_zaznamnik]}</td>
                            <td for="{$r[id_zaznamnik]}">{$r[datum]}</td>
                            <td for="{$r[id_zaznamnik]}">{$r[akcia]}</td>
                            <td for="{$r[id_zaznamnik]}">{$r[sposob]}</td>
                            <td for="{$r[id_zaznamnik]}" style="font-size: ">
                                <div align="center">
                                    <form method="post" action="{link deleteRecord}" onsubmit="return confirm('Naozaj chcete vymazať záznam?')">
                                        <input type="hidden" name="id_zaznamnik" value="{$r['id_zaznamnik']}">
                                        <input type="submit" value="Vymazať" class="btn btn-outline-danger btn-lg btn-block">
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {/if}
                {/foreach}
                </tbody>
            </table>
            <br>
            <br>
            <h3>Čakajúce</h3>
            <br>
            <br>
            {foreach $record as $r}
                {if !$r[vykonane]}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Číslo záznamu</th>
                                <th>Dátum a čas</th>
                                <th>Akcia</th>
                                <th>Spôsob</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="{$r[id_zaznamnik]}" onmouseenter="zvyraznenie(id)" onmouseleave="povodne(id)" >
                                <td for="{$r[id_zaznamnik]}">{$r[id_zaznamnik]}</td>
                                <td for="{$r[id_zaznamnik]}">{$r[datum]}</td>
                                <td for="{$r[id_zaznamnik]}">{$r[akcia]}</td>
                                <td for="{$r[id_zaznamnik]}">{$r[sposob]}</td>
                            </tr>
                        </tbody>
                    </table>
                {/if}
            {/foreach}
            <br>
            <br>
            <br>
        </div>
    </div>

    <script>
        function zvyraznenie(riadok) {
            document.getElementById(riadok).style.background = #818182;
        }

        function povodne(riadok) {
            document.getElementById(riadok).style.background = white;
        }
    </script>
{/block}