{extends layout-home.latte}

{block title}Projekt AVTK | Domovská stránka{/block}

{block body}
    <div class="container">
        <div align="center">
            <br>
            <br>
            <br>
            <br>
            <h1 class="display-1">Vitajte</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col">
                    <a href="{link settings}" class="btn btn-dark btn-lg btn-block" id="img_settings" onmouseenter="settings()" onmouseleave="reset()" style="zoom: 3">
                        <img src="https://akela.mendelu.cz/~xseman/img/settings.png" class="img-fluid" alt="Nastavenia">
                    </a>
                </div>
                <div class="col">
                    <a href="{link status}" class="btn btn-dark btn-lg btn-block" id="img_status" onmouseenter="status()" onmouseleave="reset()" style="zoom: 3">
                        <img src="https://akela.mendelu.cz/~xseman/img/status.png" class="img-fluid" alt="Aktuálny stav">
                    </a>
                </div>
                <div class="col">
                    <a href="{link history}" class="btn btn-dark btn-lg btn-block" id="img_history" onmouseenter="history()" onmouseleave="reset()" style="zoom: 3">
                        <img src="https://akela.mendelu.cz/~xseman/img/history.png" class="img-fluid" alt="História">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function reset() {
            document.getElementById("img_status").style.opacity = "100%";
            document.getElementById("img_settings").style.opacity = "100%";
            document.getElementById("img_history").style.opacity = "100%";
            document.getElementById("img_settings").style.zoom = "3";
            document.getElementById("img_history").style.zoom = "3";
            document.getElementById("img_status").style.zoom = "3";
        }

        function settings() {
            document.getElementById("img_status").style.opacity = "50%";
            document.getElementById("img_settings").style.opacity = "100%";
            document.getElementById("img_settings").style.zoom = "1";
            document.getElementById("img_history").style.opacity = "50%";
        }

        function history() {
            document.getElementById("img_status").style.opacity = "50%";
            document.getElementById("img_settings").style.opacity = "50%";
            document.getElementById("img_history").style.opacity = "100%";
            document.getElementById("img_history").style.zoom = "1";
        }

        function status() {
            document.getElementById("img_status").style.opacity = "100%"
            document.getElementById("img_status").style.zoom = "1";
            document.getElementById("img_settings").style.opacity = "50%";
            document.getElementById("img_history").style.opacity = "50%";
        }
    </script>
{/block}