<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand mb-0 h1" href="{link home}" id="projekt"  onmouseenter="set(id)" onmouseleave="reset(id)" style="color: white">Projekt AVTK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav" >
                <a class="nav-link" href="{link status}" id="status"  onmouseenter="set(id)" onmouseleave="reset(id)" style="color: white">Aktuálny stav<span class="sr-only">(current)</span></a>
                <a class="nav-link" href="{link settings}" id="settings"  onmouseenter="set(id)" onmouseleave="reset(id)" style="color: white">Nastavenia<span class="sr-only">(current)</span></a>
                <a class="nav-link" href="{link history}" id="history"  onmouseenter="set(id)" onmouseleave="reset(id)" style="color: white">História<span class="sr-only">(current)</span></a>
            </ul>
        </div>
    </nav>

    {include body}

    <script>
        function set(prvok) {
            document.getElementById(prvok).style.color = "green";
        }

        function reset(prvok) {
            document.getElementById(prvok).style.color = "white";
        }
    </script>
</body>
</html>
