{extends layout.latte}

{block title}Nastavenia{/block}

{block body}
    {$state = "hidden"}
    <div class="container">
        <div align="center">
            <br>
            <br>
            <br>
            <h1 class="display-1">Nastavenia</h1>
            <br>
            {if empty($error)}
                <h3>Aktuálne nastavenia</h3>
                <br>
                {foreach $settings as $s}
                    {if $s[hodnota_hore] > 0 && $s[hodnota_dole] > 0 && is_null($s[cas_hore]) && is_null($s[cas_dole])}
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>Akciu riadi</th>
                                <th>Spustenie pri hodnote</th>
                                <th>Vytiahnutie pri hodnote</th>
                                <th>Kompletná história</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="{$s[id]}" style="font-size: x-large">
                                <td for="{$s[id]}">Svetelný senzor</td>
                                <td for="{$s[id]}">{$s[hodnota_dole]}</td>
                                <td for="{$s[id]}">{$s[hodnota_hore]}</td>
                                <td for="{$s[id]}"><button class="btn-outline-success btn-block btn-lg" data-toggle="modal" data-target="#historia">Ukázať</button></td>
                            </tr>
                            </tbody>
                        </table>
                    {elseif is_null($s[hodnota_hore]) && is_null($s[hodnota_dole])}
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>Akciu riadi</th>
                                <th>Spustenie v čase</th>
                                <th>Vytiahnutie v čase</th>
                                <th>Kompletná história</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="{$s[id]}" style="font-size: x-large">
                                <td for="{$s[id]}">Časovač</td>
                                <td for="{$s[id]}">{$s[cas_dole]}</td>
                                <td for="{$s[id]}">{$s[cas_hore]}</td>
                                <td for="{$s[id]}"><button class="btn-outline-success btn-block btn-lg" data-toggle="modal" data-target="#historia">Ukázať</button></td>
                            </tr>
                            </tbody>
                        </table>
                    {else}
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>Akciu riadi</th>
                                <th>Spustenie pri hodnote</th>
                                <th>Spustenie v čase</th>
                                <th>Vytiahnutie pri hodnote</th>
                                <th>Vytiahnutie v čase</th>
                                <th>Kompletná história</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="{$s[id]}" style="font-size: x-large">
                                <td for="{$s[id]}">Časovač a senzor</td>
                                <td for="{$s[id]}">{$s[hodnota_dole]}</td>
                                <td for="{$s[id]}">{$s[cas_dole]}</td>
                                <td for="{$s[id]}">{$s[hodnota_hore]}</td>
                                <td for="{$s[id]}">{$s[cas_hore]}</td>
                                <td for="{$s[id]}"><button class="btn-outline-success btn-block btn-lg" data-toggle="modal" data-target="#historia">Ukázať</button></td>
                            </tr>
                            </tbody>
                        </table>
                    {/if}
                {/foreach}
            {else}
                <h3 style="color: red">{$error}</h3>
                <br>
            {/if}
            <br>
            <br>
            <h3>Zmena nastavení</h3>
            <br>
            <form id="automatic_form" action="{link settings}" method="post">
                <div class="form-group">
                    <label for="dv" id="tag_value_down">Hodnota pre spustenie dole</label>
                    <input type="number" class="form-control" id="dv" name="dv" value="{$form['dv']}">
                </div>
                <div class="form-group">
                    <label for="uv" id="tag_value_up">Hodnota pre vytiahnutie hore</label>
                    <input type="number" class="form-control" id="uv" name="uv" value="{$form['uv']}">
                </div>
                <div class="form-group">
                    <label for="dt" id="tag_time_down" >Čas spustenia dole</label>
                    <input type="time" class="form-control" id="dt" name="dt" value="{$form['dt']}">
                </div>
                <div class="form-group">
                    <label for="ut" id="tag_time_up" >Čas vytiahnutia hore</label>
                    <input type="time" class="form-control" id="ut" name="ut" value="{$form['ut']}">
                </div>
                <div class="form-group">
                    <br>
                    <br>
                    <button id="btn_automatic" type="submit" class="btn btn-outline-success btn-primary btn-lg btn-block" for="automatic_form">Nastaviť</button>
                </div>
            </form>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="modal" id="historia" role="table" aria-labelledby="exampleModalCenterTitle">
                <div class="modal-dialog-centered" role="table">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalHlavicka">História nastavení</h5>
                            <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modalTelo">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Vytiahnutie pri hodnote</th>
                                    <th>Spustenie pri hodnote</th>
                                    <th>Vytiahnutie v čase</th>
                                    <th>Spustenie v čase</th>
                                    <th>Dátum a čas zadania</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $settings_history as $sh}
                                    <tr id="{$sh[id]}">
                                        <td for="{$sh[id]}">{$sh[id]}</td>
                                        <td for="{$sh[id]}">{$sh[hodnota_hore]}</td>
                                        <td for="{$sh[id]}">{$sh[hodnota_dole]}</td>
                                        <td for="{$sh[id]}">{$sh[cas_hore]}</td>
                                        <td for="{$sh[id]}">{$sh[cas_dole]}</td>
                                        <td for="{$sh[id]}">{$sh[datum]}</td>
                                    </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

{/block}