{extends layout.latte}

{block title}Aktuálny stav{/block}

{block body}
    <div class="container" align="center">
        <div align="center">
            <br>
            <br>
            <br>
            <br>
            <h1 class="display-1">Aktuálny stav</h1>
            <br>
            <div class="row">
                <h3>Stav žalúzií</h3>
            </div>
            <br>
            <div class="row">
                {foreach $status as $s}
                    {if $s[akcia]=="Spustenie"}
                        <h5>Spustené</h5>
                    {else}
                        <h5>Vytianuté</h5>
                    {/if}
                {/foreach}
            </div>
            <br>
            <div class="row">
                <h3>Hodnota svetelného senzora</h3>
            </div>
            <br>
            <div class="row">
                {foreach $senzor as $s}
                    <h5>{$s[hodnota]}</h5>
                {/foreach}
            </div>
            <br>
            <div class="row">
                <h3>Typ kontroly</h3>
            </div>
            <br>
            <div class="row">
                {foreach $status as $s}
                    <h5>
                        {$s[sposob]}

                        {if $s[sposob]=='Manualne'}
                            <a class="btn-outline-success btn-lg" href="{link kontrola}">Skontrolovať</a>
                        {/if}
                    </h5>
                {/foreach}
            </div>
            <br>

            <h3 class="display-4">Manuálne ovládanie</h3>

            <br>
            {foreach $status as $s}
                {if $s[akcia]=="Spustenie"}
                    <div class="row">
                        <div class="col">
                            {*<a href="{link actionUp}" class="btn btn-dark btn-lg" id="img_up" onmouseenter="up()" onmouseleave="def()" onclick="potvrdenie('Zdvihnutie', 'Zdvihnutie žalúzií prebehlo v poriadku')" data-toggle="modal" data-target="#potvrdenie">*}
                            <a href="{link actionUp}" class="btn btn-dark btn-lg" id="img_up" >
                                <img src="https://akela.mendelu.cz/~xseman/img/up_static.png" class="img-fluid" alt="up">
                            </a>
                        </div>
                        <div class="col">
                            <img src="https://akela.mendelu.cz/~xseman/img/down_static.png" class="img-fluid" alt="down" style="opacity: 50%">
                        </div>
                    </div>
                {else}
                    <div class="row">
                        <div class="col">
                            {*<a href="{link actionUp}" class="btn btn-dark btn-lg" id="img_up" onmouseenter="up()" onmouseleave="def()" onclick="potvrdenie('Zdvihnutie', 'Zdvihnutie žalúzií prebehlo v poriadku')" data-toggle="modal" data-target="#potvrdenie">*}
                            <img src="https://akela.mendelu.cz/~xseman/img/up_static.png" class="img-fluid" alt="up" style="opacity: 50%">
                        </div>
                        <div class="col">
                            <a href="{link actionDown}" class="btn btn-dark btn-lg" id="img_down">
                                <img src="https://akela.mendelu.cz/~xseman/img/down_static.png" class="img-fluid" alt="down">
                            </a>
                        </div>
                    </div>
                {/if}
            {/foreach}
                <div class="modal fade" id="potvrdenie" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" >
                            <div class="modal-header" style="background-color: #218838">
                                <h5 class="modal-title" id="modalHlavicka"></h5>
                            </div>
                            <div class="modal-body" id="modalTelo">

                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>

    <script>
        function potvrdenie(akcia, sprava) {
            document.getElementById("modalHlavicka").textContent = akcia;
            document.getElementById("modalTelo").textContent = sprava;
        }

        function automatic_control() {
            {$GLOBALS["manual_control"] = false};
        }
    </script>
{/block}